.section__barSocial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  position: fixed;
  top: 60%;
  left: 1%;
}
.section__li--social{
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  transition: all 400ms ease;

}

.section__li--social:hover{
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform:translateY(-8%) ;

}
.section__img--git {
  width: 2.1rem;
  filter: invert(10) sepia(1) hue-rotate(20deg) saturate(100%) ;
}
.section__img {
  width: 2rem;
  filter: invert(11) sepia(1) hue-rotate(20deg) saturate(100%) ;


}
