.section__home {
  display: flex;
  color: white;
  margin-top: -6%;
  position: relative;
}
/* .section__ul{
} */

.section__li--greet {
  margin-top: 3rem;
  font-family: monospace;
  font-size: 2rem;
  list-style: none;
}
.section__li--name {
  line-height: 6rem;
  font-family: monospace;
  font-size: 6rem;
  list-style: none;
  font-weight: 600;
  margin-top: 0.8rem;
}
.section__li--profesion {
  font-family: monospace;
  font-size: 3.5rem;
  font-weight: 600;
  list-style: none;
  margin-top: 0.8rem;
}
.section__li--text {
  font-family: monospace;
  font-size: 1.5rem;
  list-style: none;
  font-weight: 500;
  margin-top: 1rem;
}
.color {
  color: rgb(201, 0, 0);
}

@media (max-width:480px){
  .section__home{
    width: 39rem;
    margin-left: 3rem;
    margin-top: 6rem;
  } 
  .section__li--greet {
    font-size: 2.6rem;
  }
  .section__li--name {
    font-size: 4.8rem;
    font-weight: 800;
  }
  .section__li--profesion{
    font-size: 3.5rem;
  }
  .section__li--text{
      font-size: 2rem;
      line-height: 3rem;
  }

}
@media (max-width:360px) {
 .section__home{
  width: 100%;
  margin-left: -1rem;
  margin-top: 2rem;

  } 
  .section__li--greet {
    font-size: 1.5rem;

  }
  .section__li--name {
    line-height: 3.3rem;
    font-size: 2.8rem;
    font-weight: 900;
  }
  .section__li--profesion{
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .section__li--text{
    font-size: 1.2rem;
    line-height: 2.8rem;
  }
}