.section__home {
  position: relative;
  margin-left: 7%;
  margin-top: 5rem;
  width: 57rem;
  display: flex;
  color: white;
}
/* .section__ul{
} */

.section__li--greet {
  margin-top: 3rem;
  font-family: monospace;
  font-size: 2rem;
  list-style: none;
}
.section__li--name {
  font-family: monospace;
  font-size: 6rem;
  list-style: none;
  font-weight: 600;
  margin-top: 0.8rem;
  line-height: 5rem;
}
.section__li--profesion {
  font-family: monospace;
  font-size: 3.5rem;
  font-weight: 600;
  list-style: none;
  margin-top: 0.8rem;
}
.section__li--text {
  font-family: monospace;
  font-size: 1.5rem;
  list-style: none;
  font-weight: 500;
  margin-top: 1rem;
}
.color {
  color: rgb(201, 0, 0);
}
