.section__home {
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  flex-wrap: wrap;
  margin-top: -4%;
}
/* .section__ul{
} */

.section__li--greet {
  margin-top: 3rem;
  font-family: monospace;
  font-size: 2rem;
  list-style: none;
}
.section__li--name {
  font-family: monospace;
  font-size: 6rem;
  list-style: none;
  font-weight: 600;
  margin-top: 0.8rem;
  line-height: 5rem;
}
.section__li--profesion {
  font-family: monospace;
  font-size: 3.5rem;
  font-weight: 600;
  list-style: none;
  margin-top: 0.8rem;
}
.section__li--text {
  font-family: monospace;
  font-size: 1.5rem;
  list-style: none;
  font-weight: 500;
  margin-top: 1rem;
}
.color {
  color: rgb(201, 0, 0);
}

@media (max-width:360px) {
  /* .section__home{

  } */
  .section__li--greet {
    font-size: 1.5rem;

  }
  .section__li--name {
    line-height: 4rem;
    font-size: 3rem;
    font-weight: 900;
  }
  .section__li--profesion{
    font-size: 2.5rem;
  }
  .section__li--text{
    font-size: 1rem;
  }
}