.section__experience {
  position: relative;
  margin-top: 6%;
  width: 100%;
  flex-wrap: wrap;
  color: white;
}
.section__p--tittleE {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 1.2rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(201, 0, 0);
}

/* .div__section--content{

}  */
/* .ul__section--content{

}  */

.section__li--tittle {
  font-family: monospace;
  font-size: 2rem;
  list-style: none;
  line-height: 3rem;
}
.section__li--content {
  width: 50rem;
  font-family: monospace;
  font-size: 1.5rem;
  list-style: none;
}

@media (max-width: 480px) {
  .section__experience {
    margin-left: 3rem;
    margin-top: 8rem;
  }
  .section__li--content {
    width: 38rem;
    font-size: 1.9rem;
    line-height: 3rem;
  }
  .section__li--tittle {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 360px) {
  .section__experience {
    margin-top: 25%;
    margin-left: -1rem;
  }
  .section__p--tittleE {
    font-size: 2.8rem;
    margin-left: 4rem;
  }
  .section__li--tittle {
    font-size: 1.8rem;
    margin-top: 25%;
  }
  .section__li--content {
    font-size: 1.2rem;
    width: 20rem;
    line-height: 2.5rem;
  }
}
