.section__experience {
  position: relative;
  margin-left: 7%;
  margin-top: 5rem;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  min-width: 50rem;
}
.section__p--tittleE {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.2rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(201, 0, 0);
}

/* .div__section--content{

}  */
/* .ul__section--content{

}  */

.section__li--tittle {
  font-family: monospace;
  font-size: 2rem;
  list-style: none;
  line-height: 3rem;
}
.section__li--content {
  font-family: monospace;
  font-size: 1.5rem;
  list-style: none;
}

/* justify-content: flex-start;
align-items: flex-start; */
