.section__div--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
  margin-top: 7%;
  min-height: 20rem;
  align-content: center;
  grid-auto-flow: row;
  position: relative;
  grid-auto-rows: 13rem;
}
.section__p--work{
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(201, 0, 0);
}

.section__div--card {
  display: flex;
  justify-content: center;
  text-align: center;
  border: solid 3px black;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease;
  background-color: rgb(68, 68, 68);
  color: white;
}

.section__div--card:hover {
  z-index: 1;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-3%);
}
@media (max-width: 480px) {
  .section__div--container {
    margin-top: 8rem;
    margin-left: 25%;
  }
}

@media (max-width: 360px) {
  .section__work{
    margin-top: 25%;
  }
  .section__p--work{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(201, 0, 0);
    margin-left: 4rem;
    
  }
  .section__div--container {
    padding: 2rem;
    margin-top: 25%;
    margin-left: .1rem;
  }
}
