.section__aboutMe {
  position: relative;
  color: white;
  display: flex;
  margin-top: 10%;
  margin-left: -4rem;
}

.section__p--tittle {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 5rem;
  padding: 1.6rem;
  color: rgb(201, 0, 0);
}
.div__aboutMe {
  display: flex;
  flex-wrap: wrap;
}
.section__p--content {
  display: flex;
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: monospace;
  line-height: 2rem;
}
.div__ul--habilities {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  font-size: 100rem;
  font-weight: 600;
  line-height: 1.9rem;
}
.div__li--habilities {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: monospace;
  list-style: none;
}
.div__li--habilities::before {
  content: "\2022";
  padding-right: 8px;
  color: rgb(201, 0, 0);
}
/* .div__section--image {

} */

@media (max-width: 480px) {
  .section__aboutMe {
    margin-left: 3rem;
    margin-top: 7rem;
  }

  .section__p--tittle {
    font-weight: 600;
    font-size: 3rem;
  }
  .div__li--habilities {
    font-size: 1.6rem;
    margin-left: -1rem;
  }

  .section__p--content {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}

@media (max-width: 360px) {
  .section__aboutMe {
    margin-top: 25%;
    margin-left: -1rem;
  }
  .section__p--tittle {
    font-size: 2.8rem;
    margin-left: 4rem;
  }

  .section__p--content {
    line-height: 2.5rem;
    font-size: 1.2rem;
  }
  .div__ul--habilities {
    line-height: 1rem;
    display: flex;
    flex-direction: column;
  }
  .div__li--habilities {
    font-size: 1.2rem;
  }

}
